<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles_register.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1 class="page-heading">Register a new account</h1>
            <% if(errors != null && errors.length > 0){ %>
                <ul class="list-group"></ul>
                <% for (var i = 0; i < errors.length; i++) { %>
                <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
                <% } %>
                </ul>
                <% } %>
            <form action="/users/register" method="POST" class="register-form">

                <div class="form-group">
                    <label for="username">Full Name</label>
                    <input  type="text" id="Full_Name" name="Full_Name" placeholder="Enter your Full Name" required>
                </div>


                <div class="form-group">
                    <label for="username">User Name</label>
                    <input value="<% username %>" type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>

                <div class="form-group">
                    <label for="Email">Email</label>
                    <input  type="text" id="Email" name="Email" placeholder="Enter your Email" required>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input value="<% password %>" type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
        </div>
    </div>
</body>
</html>
